# Ignorowanie folderu build
/build/

# Ignorowanie plików tymczasowych
*.tmp
/.vs/
/PS4/Builder/.vs/Builder
/PS5/Proxy/.vs/Proxy
/PS6/Adapter/.vs/Adapter
/PS7/Composite/.vs/Composite
/PS8/Decorator/.vs/Decorator
